* {
  color: white;
  box-sizing: border-box;
}

@font-face {
  font-family: 'starwars'  ;
  src: url(assets/img/starjedi.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/img/back_space.jpg);
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position: top;
  background-attachment: fixed;
}

a {

  color: black;
  text-decoration: none;
  transition-duration: 0.2s;
  font-family: 'starwars' ;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}
  .logo {
    font-size: 24px;
    text-transform: none;
    letter-spacing: 4px;
    color: yellow;
    font-family: 'starwars' ;

  }

main {
  width: 80%;
  margin: 0 auto;
}
  .lista-jogos {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }
  .lista-jogos .jogo {
    width: 32%;
    height: auto;
    border-radius: 1rem;
    background-color: #fff;
    transition-duration: .2s;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
  }
    .lista-jogos .jogo:hover {
      transform: scale(1.1);
    }

  .lista-jogos .jogo img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }

  .lista-jogos .jogo h3 {
    color: black;
    padding-left: 1rem;
  }

  .lista-jogos .jogo a {
    margin-left: 1rem;
    padding: .5rem;
    color: #fff;
    background-color: cadetblue;
    border-radius: .5rem;
    display: block;
    width: max-content;
  }

  .apresentacao p {

    font-family: 'starwars' ;
    color: lightskyblue;

   }

#play {
  position: fixed;
  top: 5rem;
  width: 90%;
  left: 5%;
  height: 80vh;
  background-color: white;
  display: none;
}
  #play.exibir {
    display: block;
  }
