* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url(./assets/img/back_space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.5;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

main {
}
  main h3 {
    color: #fff;
  }